<header class="adminuiux-header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <button class="btn btn-square btn-link" [routerLink]="['/login']" aria-label="Back to login">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div class="ms-auto">
        <a [routerLink]="['/login']" class="btn btn-link">Sign in</a>
      </div>
    </div>
  </nav>
</header>

<div class="auth-screen auth-screen-forgot row align-items-center justify-content-center py-4 mt-auto">
  <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
    <div class="mb-4">
      <h4 class="mb-0">Sorry! you have to be here</h4>
      <h2 class="text-theme-1 auth-title">Reset your password</h2>
      <p class="text-secondary auth-copy">Provide your registered email address, we will send you an email with change password link with steps.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="forgotEmail" placeholder="Enter email address" formControlName="email">
        <label for="forgotEmail">Email Address</label>
      </div>

      <button class="btn btn-lg btn-theme w-100 mb-4" type="submit">Reset Now</button>
    </form>

  </div>
</div>
