<div class="row gx-3 align-items-center mb-3">
  <!-- Current Salah with icon -->
  <div class="col d-flex align-items-center" *ngIf="currentSalah && salahTimes[currentSalah]">
    <i [ngClass]="[
          'bi',
          salahTimes[currentSalah].icon,
          'avatar',
          'avatar-40',
          'bg-theme-1-subtle',
          'text-theme-1',
          'rounded',
          'h4',
          salahTimes[currentSalah].color
        ]"></i>
    <div class="ms-3">
      <h4 class="mb-0">{{ currentSalah.toUpperCase()  | translate }}</h4>
      <p class="text-theme-1 mb-0 salah-time-range">{{ currentSalahTime }}</p>
    </div>
  </div>

  <!-- Countdown Timer -->
  <div class="col-auto text-end" *ngIf="currentSalah && salahTimes[currentSalah]">
    <h2 class="fw-bold mb-0">{{ countdown }}</h2>
    <p class="small text-secondary mb-0">{{'TIME_REMAINING' | translate}}</p>
  </div>
</div>


<!-- Dates Row -->
<!-- <div class="row gx-3 align-items-center mt-2">
  <div class="col">
    <p class="mb-0"><strong>{{ dayOfWeek }}, {{ day }} {{ month }} {{ year }}</strong></p>
    <p class="small text-secondary mb-0">
      Islamic Date: {{ islamicDateNumber }} {{ islamicMonthName }} {{ islamicYear }}
    </p>
  </div>
</div> -->
