<div class="row gx-3 align-items-center mb-3">
    <section id="banner">
        <div class="content">
            <header>
                <h1>{{ 'aboutUs.title' | translate }}</h1>
                <p>{{ 'aboutUs.subtitle' | translate }}</p>
            </header>
            <div class="p-1 pb-0">
                <figure class="w-100 height-300 coverimg rounded position-relative"
                    style="background-image: url(&quot;../../assets/images/alrgorithem.png&quot;);">
                    <img src="../../assets/images/alrgorithem.png" alt="" style="display: none;">
                </figure>
            </div>

            <p>{{ 'aboutUs.description' | translate }}</p>

           <ul>
                <li><strong>{{ 'FAJR' | translate }}:</strong> {{ 'aboutUs.fajr' | translate }}</li>
                <li><strong>{{ 'DHUHR' | translate }}:</strong> {{ 'aboutUs.dhuhr' | translate }}</li>
                <li><strong>{{ 'ASR' | translate }}:</strong> {{ 'aboutUs.asr' | translate }}</li>
                <li><strong>{{ 'MAGHRIB' | translate }}:</strong> {{ 'aboutUs.maghrib' | translate }}</li>
                <li><strong>{{ 'ISHA' | translate }}:</strong> {{ 'aboutUs.isha' | translate }}</li>
            </ul>

            <p>{{ 'aboutUs.footer' | translate }}</p>
        </div>
    </section>
</div>