<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>About SalahTime</h1>
            <p>A visual representation of the five required daily prayers based on the sun's position.</p>
        </header>
        <p>
            The diagram illustrates the full 24-hour cycle (day and night). The key divisions are marked by celestial
            events that define the start of the five daily prayers:<br /><br />
            <b>FAJR:</b> Pre-dawn prayer, starting when the sun is typically 18° below the horizon.<br />
            <b>SUNRISE:</b> Marks the end of Fajr time.<br />
            <b>MIDDAY (ZOHR):</b> Sun at its highest point (Solar Noon).<br />
            <b>ASR:</b> Afternoon prayer, based on shadow length.<br />
            <b>MAGHRIB:</b> Sunset.<br />
            <b>ISHA:</b> Night prayer, beginning when the sun is typically 18° below the horizon.<br />

        </p>
        <ul class="actions">
            <li><a href="#" class="button big">Understand the Calculations</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="../../assets/images/alrgorithem.png" alt="" />
    </span>
</section>


<!-- Section -->
<section>

    <div class="row">
        <div class="col-4 col-12-small">
            <span class="image fit">
                <img src="../../assets/images/salahtime-qr.png" alt="QR Code to Download App" />
            </span>
        </div>
        <div class="col-8 col-12-small">
            <header class="major">
                <h2>Our New App is Coming Soon!</h2>
            </header>

            <h3>Scan to Download the Beta (or Current) Version</h3>
            <p>
                We are working hard to finalize and launch our new app. We appreciate your patience and support!
                <br /><br />
                **Meanwhile, please scan the QR code to the left** to download the current version of the app and start
                benefiting from its features. We are constantly updating and improving based on your feedback.
                Stay tuned for the official launch announcement!
            </p>
        </div>
    </div>
</section>