<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>About SalahTime</h1>
            <p>A visual representation of the five required daily prayers based on the sun's position.</p>
        </header>
        <p>
            Salah timings follow the daily movement of the sun. Fajr begins at dawn when the first light spreads across
            the horizon and continues until the moment before sunrise. During sunrise itself, prayer is avoided. Once
            the sun passes its highest point in the sky, Dhuhr begins and lasts until late afternoon. Asr then starts
            when an object's shadow grows longer than its height and continues until sunset. Maghrib begins immediately
            after the sun fully disappears below the horizon and continues while the light in the sky gradually fades.
            When night darkness completely settles and twilight disappears, Isha begins and lasts until just before
            Fajr. These timings shift slightly every day depending on the season and your location, which is why
            accurate tracking tools like the SalahTime app are helpful.
        </p>
        <!-- <ul class="actions">
            <li><a href="" class="button big">Understand the Calculations</a></li>
        </ul> -->
    </div>
    <span class="image object">
        <img src="../../assets/images/alrgorithem.png" alt="" />
    </span>
</section>


<!-- Section -->
<section>

    <div class="row">
        <div class="col-4 col-12-small">
            <span class="image fit">
                <img src="../../assets/images/salahtime-qr.png" alt="QR Code to Download App" />
            </span>
        </div>
        <div class="col-8 col-12-small">
            <header class="major">
                <h2>SalahTime App – Internal Testing in Progress</h2>
            </header>

            <h3>Download & Try the Beta Version</h3>
            <p>
                We are currently conducting internal testing to ensure the best experience for all users. The official
                release on the Play Store will be available soon, Insha’Allah.
                <br />
                In the meantime, you can download the latest build of SalahTime by scanning the QR code on the left or
                by visiting our web version:
                <strong>http://salahtime.walletplus.in</strong>
                <br />
                Your support and feedback are greatly appreciated as we finalize the app. Stay tuned for the public
                launch!
            </p>
        </div>

    </div>
</section>