<div class="row gx-3 align-items-center mb-3">
  <app-autocomplete-control></app-autocomplete-control>
</div>

<div class="col-12 text-center mb-3">
  <h5>{{ 'RAMZAN.TITLE' | translate }}</h5>
  <p class="small text-secondary">
    {{ 'RAMZAN.SUBTITLE' | translate }}
  </p>
</div>

<div class="ramzan-table">

  <!-- Sticky Header -->
  <div class="card adminuiux-card shadow-sm mb-2 fw-semibold text-secondary ramzan-header">
    <div class="card-body py-2">
      <div class="row align-items-center text-center">
        <div class="col-2">{{ 'RAMZAN.HEADER.DAY' | translate }}</div>
        <div class="col-4">{{ 'RAMZAN.HEADER.DATE' | translate }}</div>
        <div class="col-3">{{ 'RAMZAN.HEADER.SEHRI' | translate }}</div>
        <div class="col-3">{{ 'RAMZAN.HEADER.IFTAR' | translate }}</div>
      </div>
    </div>
  </div>

  <!-- Rows -->
  <div
    class="card adminuiux-card shadow-sm mb-2"
    *ngFor="let day of ramzanDays"
    #ramzanRow
    [ngClass]="{ 'today-row': isToday(day.date) }"
  >
    <div class="card-body py-2">
      <div class="row align-items-center text-center">
        <div class="col-2 fw-bold">{{ day.day }}</div>
        <div class="col-4 small salah-time-range">{{ day.date | date:'dd MMM yyyy' }}</div>
        <div class="col-3 small salah-time-range">{{ day.sehriEnd | date:'hh:mm a' }}</div>
        <div class="col-3 small salah-time-range">{{ day.iftarStart | date:'hh:mm a' }}</div>
      </div>
    </div>
  </div>

</div>
