<div class="row gx-3 align-items-center mb-3 dashboard-current-time-row">
  <!-- Current Salah with icon -->
  <div class="col d-flex align-items-center" *ngIf="currentSalah && currentSalahDetails as details">
    <i [ngClass]="[
          'bi',
          details.icon,
          'avatar',
          'avatar-40',
          'bg-theme-1-subtle',
          'text-theme-1',
          'rounded',
          'h4',
          details.color
        ]"></i>
    <div class="ms-3">
      <h4 class="mb-0">{{ currentSalah.toUpperCase()  | translate }}</h4>
      <p class="text-theme-1 mb-0 salah-time-range">{{ currentSalahTime }}</p>
    </div>
  </div>

  <!-- Countdown Timer -->
  <div class="col-auto text-end" *ngIf="currentSalah && currentSalahDetails">
    <h2 class="fw-bold mb-0">{{ countdown }}</h2>
    <p class="small text-secondary mb-0">{{'TIME_REMAINING' | translate}}</p>
  </div>
</div>


<!-- Dates Row -->
<!-- <div class="row gx-3 align-items-center mt-2">
  <div class="col">
    <p class="mb-0"><strong>{{ dayOfWeek }}, {{ day }} {{ month }} {{ year }}</strong></p>
    <p class="small text-secondary mb-0">
      Islamic Date: {{ islamicDateNumber }} {{ islamicMonthName }} {{ islamicYear }}
    </p>
  </div>
</div> -->


<!-- <div class="card border-0 shadow-sm bg-theme-r-gradient overflow-hidden mb-3 p-3">
  <div class="row gx-3 align-items-center mb-3" *ngIf="currentSalah && salahTimes[currentSalah]">
    <div class="col d-flex align-items-center">
      <i [ngClass]="[
            'bi',
            salahTimes[currentSalah].icon,
            'avatar',
            'avatar-40',
            'bg-theme-1-subtle',
            'text-theme-1',
            'rounded',
            'h4',
            salahTimes[currentSalah].color
          ]"></i>
      <div class="ms-3">
        <h3 class="mb-0">{{ currentSalah.toUpperCase() | translate }}</h3>
        <h6 class="mb-0 salah-time-range">{{ currentSalahTime }}</h6>
      </div>
    </div>
    <div class="col-auto text-end">
      <h2 class="fw-bold mb-0">{{ countdown }}</h2>
      <h6 class="small mb-0">{{ 'TIME_REMAINING' | translate }}</h6>
    </div>
  </div>
</div> -->
