<div id="wrapper">
  <div id="main">

    <div class="inner">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="sidebar" class="inactive">
    <a class="toggle" (click)="toggleSidebar($event)">☰</a>
    <div class="inner">

      <!-- Search -->
      <!-- <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section> -->

      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>SalahTime</h2>
        </header>
        <ul>
          <li><a [routerLink]="['/']" (click)="closeMenuOnMobile($event)">Home</a></li>
          <li><a [routerLink]="['/about']" (click)="closeMenuOnMobile($event)">About</a></li>
          <li><a [routerLink]="['/privacy-policy']" (click)="closeMenuOnMobile($event)">Privacy Policy</a></li>
        </ul>
      </nav>


      <!-- Section -->
      <section>
        <p>SalahTime delivers highly accurate prayer timings and reliable Islamic guidance in a beautifully crafted interface — supporting your daily worship everywhere.</p>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="fareed543@gmail.com">fareed543@gmail.com</a></li>
          <li class="icon solid fa-home">Bengaluru, India.</li>
        </ul>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; 2025 SalahTime. All rights reserved.</p>
      </footer>

    </div>
  </div>

</div>