<div class="pageloader" *ngIf="loading">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center text-center h-100 pb-ios">
        <div class="col-12 mb-auto pt-4"></div>
        <div class="col-auto">
          <p class="display-3 text-theme-1 fw-bold mb-4">Fetching Your Location</p>
          <p class="h2 mb-0 text-theme-accent-1">Please wait while we determine your location</p>
                <div class="loader3 mb-2 mx-auto"></div>
        </div>
        <div class="col-12 mt-auto pb-4">
                <p class="small text-secondary">Please wait we are preparing awesome things...</p>
        </div>
      </div>
    </div>
  </div>

<app-current-time></app-current-time>

<!-- automate -->
<div class="col-12 col-md-6 col-xl-4 col-xxl-3">
  <div class="card adminuiux-card bg-theme-1-subtle mb-3">
    <div class="card-body pb-0 overflow-y-auto height-dynamic">
      <!-- <h6 class="mb-3">Automate Scenes</h6> -->


      <!-- [ngClass]="[key.value.type, currentSalah === key.key ? 'current-salah' : '']" -->

      <ng-container *ngFor="let key of prayerTimes | keyvalue: originalOrder">
        <div *ngIf="
        (key.value.type !== 'nafl' || settings.showNafilSalah) &&
        (key.value.type !== 'makruh' || settings.showMakruhTime)" class="card adminuiux-card shadow-sm mb-3">
          <div class="card-body pb-0">
            <div class="row gx-3 align-items-center mb-3">
               <div class="col-auto">
   <i [ngClass]="[
            'bi', 
            key.value.icon,         
            'avatar', 
            'avatar-40', 
            'bg-theme-1-subtle', 
            'text-theme-1', 
            'rounded', 
            'h4', 
            key.value.color       
          ]"></i>
</div>
              <div class="col">
                <h6 class="mb-0">{{ key.key | titlecase }}</h6>
                <p class="small text-secondary">{{ key.value.start | date:'hh:mm a' }} - {{ key.value.end | date:'hh:mm
                  a' }}</p>
              </div>

            </div>
          </div>
        </div>

      </ng-container>



    </div>
  </div>
</div>