:root {
  --adminuiux-content-font: "Open Sans", serif;
  --adminuiux-content-font-weight: 400;
  --adminuiux-title-font: "Poppins", serif;
  --adminuiux-title-font-weight: 600;
}
    
    .salah-time-range {
  direction: ltr;
  float: left;
}

body.rtl .salah-time-range {
  float: right;
}

.adminuiux-mobile-footer {
  height: 70px;
}