<div class="row gx-3 align-items-center mb-3">
  <div class="col d-flex align-items-center" *ngIf="currentSalah && currentSalahDetails as details">
    <i [ngClass]="[
      'bi',
      details.icon,
      'avatar',
      'avatar-40',
      'bg-theme-1-subtle',
      'text-theme-1',
      'rounded',
      'h4',
      details.color
    ]"></i>
    <div class="ms-3">
      <h4 class="mb-0">{{ currentSalah.toUpperCase() | translate }}</h4>
      <p class="text-theme-1 mb-0 salah-time-range">{{ currentSalahTime }}</p>
    </div>
  </div>

  <div class="col-auto text-end" *ngIf="currentSalah && currentSalahDetails">
    <h2 class="fw-bold mb-0">{{ countdown }}</h2>
    <p class="small text-secondary mb-0">{{ 'TIME_REMAINING' | translate }}</p>
  </div>
</div>
