<!-- Content -->
<section>
    <header id="header">
        <a class="logo"><strong>Settings</strong></a>
    </header>

    <!-- Form -->
    <h3></h3>

    <form [formGroup]="salahSettingsForm" (ngSubmit)="onSubmit()">

        <div class="row gtr-uniform">


            <!-- CALCULATION -->
            <div class="col-12">
                <h3>Prayer Time Calculation</h3>
            </div>


            <div class="col-12" *ngIf="calculationMethods?.length">
                <select formControlName="calculationMethod">
                    <option value="">- Select Calculation Method -</option>

                    <option *ngFor="let method of calculationMethods" [value]="method.id">
                        {{ method.name }}
                    </option>
                </select>
            </div>

            <div class="col-12">
                <label><strong>Location Mode</strong></label>
                <div class="location-radio-row">
                    <div class="radio-item">
                        <input type="radio" id="location-auto" formControlName="locationMode" value="auto">
                        <label for="location-auto">Automatic (GPS)</label>
                    </div>

                    <div class="radio-item">
                        <input type="radio" id="location-manual" formControlName="locationMode" value="manual">
                        <label for="location-manual">Manual Entry</label>
                    </div>
                </div>
            </div>




            <!-- Asr Method -->
            <div class="col-12">
                <label>Asr Method</label>
            </div>

            <div class="col-6 col-12-small">
                <input type="radio" id="asr-standard" value="standard" formControlName="asrMethod">
                <label for="asr-standard">Standard (Shadow = 1)</label>
            </div>

            <div class="col-6 col-12-small">
                <input type="radio" id="asr-hanafi" value="hanafi" formControlName="asrMethod">
                <label for="asr-hanafi">Hanafi (Shadow = 2)</label>
            </div>

            <!-- High Latitude -->
            <div class="col-12">
                <select formControlName="highLatitude">
                    <option value="">High Latitude Method</option>
                    <option value="middle">Middle of the Night</option>
                    <option value="one_seventh">One Seventh</option>
                    <option value="angle_based">Angle Based</option>
                </select>
            </div>






            <div class="col-6 col-12-small">
                <input type="checkbox" id="showHijri" formControlName="showHijri" />
                <label for="showHijri">Show Hijri Date</label>
            </div>

            <div class="col-6 col-12-xsmall">
                <input type="number" placeholder="Hijri Offset (+/-)" formControlName="hijriOffset" />
            </div>

            <!-- SUBMIT -->
            <div class="col-12">
                <ul class="actions">
                    <li><button type="submit" class="primary">Save Settings</button></li>
                    <li><button type="reset" (click)="onReset()">Reset</button></li>
                </ul>
            </div>

        </div>

    </form>
</section>