<!-- Content -->
<section>
    <header id="header">
        <a class="logo"><strong>Settings</strong></a>
    </header>


    <pre>
        {{salahSettingsForm.value | json}}
    </pre>
    <form [formGroup]="salahSettingsForm" (ngSubmit)="onSubmit()">

        <div class="row gtr-uniform">


            <!-- PRAYER TIME CALCULATION -->
            <div class="col-12">
                <h3>Prayer Time Calculation</h3>
            </div>

            <!-- Calculation Method -->
            <div class="col-12" *ngIf="calculationMethods?.length">
                <label><strong>Calculation Method</strong></label>
                <select formControlName="calculationMethod" class="form-control">
                    <option value="">- Select Calculation Method -</option>
                    <option *ngFor="let method of calculationMethods" [value]="method.id">
                        {{ method.name }}
                    </option>
                </select>
            </div>

            <!-- Location Mode -->
            <div class="col-12">
                <label><strong>Location Mode</strong></label>
                <div class="location-radio-row">

                    <div class="radio-item">
                        <input 
                            type="radio"
                            id="location-auto"
                            name="locationMode"
                            formControlName="locationMode"
                            value="auto">
                        <label for="location-auto">Automatic (GPS)</label>
                    </div>

                    <div class="radio-item">
                        <input 
                            type="radio"
                            id="location-manual"
                            name="locationMode"
                            formControlName="locationMode"
                            value="manual">
                        <label for="location-manual">Manual Entry</label>
                    </div>

                </div>
            </div>

            <!-- Madhab -->
            <div class="col-12">
                <label><strong>Madhab</strong></label>
                <select formControlName="madhab" class="form-control">
                    <option value="Hanafi">Hanafi</option>
                    <option value="Shafii">Shafi'i</option>
                    <option value="Maliki">Maliki</option>
                    <option value="Hanbali">Hanbali</option>
                </select>
            </div>

            <!-- Hijri Date -->
            <div class="col-6 col-12-small">
                <input 
                    type="checkbox"
                    id="showHijri"
                    formControlName="showHijri"/>
                <label for="showHijri">Show Hijri Date</label>
            </div>


            <div class="col-6 col-12-small">
                <input 
                    type="checkbox"
                    id="showNafilSalah"
                    formControlName="showNafilSalah" />
                <label for="showNafilSalah">Show Nafil Salah</label>
            </div>

            <div class="col-6 col-12-small">
                <input 
                    type="checkbox"
                    id="enable-notifications"
                    formControlName="enableNotifications"/>
                <label for="enable-notifications">Enable Notifications</label>
            </div>

            <!-- SUBMIT -->
            <div class="col-12">
                <ul class="actions">
                    <li><button type="submit" class="primary">Save Settings</button></li>
                    <li><button type="button" (click)="onReset()">Reset</button></li>
                </ul>
            </div>

        </div>

    </form>
</section>
